body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.widget {
    box-sizing: border-box;
    width: 30%;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.chart{
    width: 50%;
}
.chart-container {
    height: 300px;
    margin-top: 20px;
    margin-left: 50px;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
}
.temperature {
    background-color: #db5334;
    background: linear-gradient(45deg, #8B0000 0%, #db5334 35%, #F1948A  100%);
}

.humidity {
    background-color: #3498db;
    /* background: linear-gradient(45deg,#1B4F72 0%, #2874A6  35%,#5DADE2  100%); */
}

.light {
    background-color: #ffee01;
    /* background: linear-gradient(45deg, #B7950B 0%, #F4D03F 35%,#FEF9E7  100%); */
}
/* Toggle button styles */
.toggle {
    display: flex;
    align-items: center;
}

.switch-light {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-light input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch-fan {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-fan input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Additional styles for demonstration */
.toggle p {
    margin-left: 10px;
    font-size: 18px;
}

.icon{
    width: 20%;
}
.widget-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.img_lightoff{
    display: block;
}
.img_lighton{
    display: none;
}
/* quạt quay */
.img_fanoff{
    display: block;
}
.img_fanon {
    display: none;
    -webkit-animation: rotate 2s normal linear infinite;
    animation: rotate 2s normal linear infinite;
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.nav-iteams{
    font-size: large;
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    background-color: #9FE2BF;
    margin: 0;

}

li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #e77d0d;
}