<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History Action</title>
    <link rel="stylesheet" href="css/his_action_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="content-background">
        <div class="navbar">
            <ul class="nav-iteams">
                <li><a href="/home">Dashbroad</a></li>
                <li><a href="/historysensor">History sensor</a></li>
                <li><a href="/historyaction">History action</a></li>
                <li class="avatarContrainer">
                    <a href="/profile">Profile</a>
                    <img class="avatar" src="/anh1.png" alt="avtar">
                </li>
            </ul>
            <img src="" alt="">
        </div>

        <div class="container">

            <h2>Lịch sử điều khiển</h2>
            <input type="text" id="myInput" placeholder="Search for date.." title="Type in a time">
        </div>
        <table id="controlTable">
            <thead>
            <tr>
                <th data-sortby="id">ID</th>
                <th data-sortby="date">Thời gian</th>
                <th data-sortby="statusFan">Quạt</th>
                <th data-sortby="statusLight">Đèn</th>
            </tr>
            </thead>
            <tbody id="actionTableBody"></tbody>
        </table>
        <div class="pagination">
            <a href="#" id="prevPage">&laquo;</a>
            <a href="#" class="pageNumber">1</a>
            <a href="#" class="pageNumber">2</a>
            <a href="#" class="pageNumber">3</a>
            <a href="#" class="pageNumber">4</a>
            <a href="#" class="pageNumber">5</a>
            <a href="#" class="pageNumber">6</a>
            <a href="#" id="nextPage">&raquo;</a>
        </div>
    </div>
    </div>
<script src="/js/action_script.js"></script>
</body>
</html>