<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History Action</title>
    <link rel="stylesheet" href="css/his_action_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="navbar">
    <ul class="nav-iteams">
        <li><a href="/home">Dashbroad</a></li>
        <li><a href="/historysensor">History sensor</a></li>
        <li><a href="/historyaction">History action</a></li>
        <li> <img src="" alt="">
            <a href="/profile">Profile</a>
        </li>
    </ul>
    <img src="" alt="">
</div>

<div class="container">

    <h2>Data Table</h2>
    <input type="text" id="myInput" placeholder="Search for names.." title="Type in a name">
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Fan</th>
            <th>Light</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>12:00 PM</td>
            <td>On</td>
            <td>Off</td>
        </tr>
        <tr>
            <td>2</td>
            <td>02:30 PM</td>
            <td>Off</td>
            <td>On</td>
        </tr>
        <!-- Add more rows as needed -->
        </tbody>
    </table>
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</div>
<script src="/js/action_script.js"></script>
</body>
</html>