<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio-1</title>
    <script src="https://kit.fontawesome.com/4b8f754f30.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/profile_styles.css">

</head>
<body>
<!-- header starts here  -->
<header>
    <div class="navbar">
        <ul class="nav-iteams">
            <li><a href="/home">Dashbroad</a></li>
            <li><a href="/historysensor">History sensor</a></li>
            <li><a href="/historyaction">History action</a></li>
            <li class="avatarContrainer">
                <a href="/profile">Profile</a>
                <img class="avatar" src="/anh1.png" alt="avtar">
            </li>
        </ul>
        <img src="" alt="">
    </div>
</header>
<section id="banner">
    <div class="container">
        <div class="row">
            <div class="banner-text">
                    <span>
                        <h5>Hello, I'm BUI VAN THONG</h5><img src="mdi_hand-wave.png" alt="">
                    </span>
                <h1 class="hello-text">Web full stack developer</h1>
                <p>Chàng sinh viên mê đam mê Công nghệ, với tài năng vượt trội, ngoại hình cuốn hút, toát lên sự năng động và quyến rũ.</p>
                <div class="button row">
                    <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new">Lets talk <i class="fa-solid fa-paper-plane"></i></a>
                    <a href="">Download CV <i class="fa-solid fa-cloud-arrow-down"></i></a>
                </div>
                <div class="cont-icon row">
                    <h4>Follow me :</h4>
                    <ul class="row">
                        <li><a href="#"><img src="icon-park-outline_dribble.png" alt=""></a></li>
                        <li><a href="https://www.behance.net/thngbi20"><img src="akar-icons_behance-fill.png" alt=""></a></li>
                        <li><a href="https://www.instagram.com/buithog_/"><img src="akar-icons_instagram-fill.png" alt=""></a></li>
                        <li><a href="https://github.com/buithog"><img src="akar-icons_github-fill.png" alt=""></a></li>
                    </ul>
                </div>

            </div>
            <div class="banner-img" ><img src="anh1.png" alt=""></div>

        </div>
    </div>
</section>
<!-- banner ends here  -->
<!-- about starts hrer -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="about-pic"><img src="anh2.png" alt=""></div>
            <div class="about-text">
                <h1>About Me</h1>
                <p>Với 4 năm kinh nghiệm là một sinh viên của Học Viện Công Nghệ Bưu Chính Viễn Thông, tôi đã tích luỹ được những kỹ năng và kiến thức cần thiết để đưa dự án của bạn đến thành công. Tôi thích mỗi bước trong quá trình thiết kế, từ thảo luận và cộng tác đến việc lập trình và triển khai.</p>
                <a href="#">See More</a>
                <img src="Ellipse 55.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- about ends hrer -->
<!-- card starts here  -->
<section id="card">
    <div class="container">
        <div class="row">
            <div class="box">
                <img src="Frame.png" alt="">
                <h5>Pixel Perfect</h5>
                <p>Người đem đến các phương pháp phổ biến để mã hóa trang web hoạt động tốt trên máy tính để bàn đều có tính đáp ứng và thích ứng.</p>
            </div>
            <div class="box">
                <img src="Frame (1).png" alt="">
                <h5>High Quality</h5>
                <p>Đem đến các sản phẩm bằng cả tấm lòng, cùng với chất lượng được đảm bảo nhất đến cho khách hàng</p>
            </div>
            <div class="box">
                <img src="Frame (2).png" alt="">
                <h5>Awesome Idea</h5>
                <p>
                    Nhiều ý tưởng sáng tạo, đột phá về công nghệ.</p>
            </div>
        </div>
    </div>
</section>




<!-- card ends here  -->
<!-- branding starts here  -->
<section id="branding">
    <div class="container">
        <div class="row">
            <div class="branding-img"><img  alt=""></div>
            <div class="branding-cnt">
                <h1>sound classification</h1>
                <p>Sử dụng học máy cụ thể với mạng nơ ron tích chập để phân biệt âm thanh trong nhiều môi trường<br> Ứng dụng vào việc xác định môi trường để đưa ra những dự đoán về vị trí và thói quen di chuyển của người dùng</p>
                <a href="https://github.com/KiritoSAO148/Audio-Classification-Project.git">See Project</a>
                <div class="border"><img src="Vector 8.png" alt=""></div>
            </div>
        </div>
    </div>

</section>




<!-- branding ends here  -->
</body>
</html>